<h1>Productos</h1>
<div class="jumbotron">
    {{#if productos.length}} 
        <div class="table-responsive">
            <table class="table table-dark">
                <tr> <th>Nombre</th> <th>Descripcion</th> <th>Precio</th> <th>Foto</th> <th>Agregar Carrito</th></tr>
                {{#each productos}}
                    <tr> <td>{{this.nombre}}</td> <td>{{this.descripcion}}</td> <td>${{this.precio}}</td><td><img width="50" src={{this.foto}} alt="not found"></td> 
                    <td> <form action="/carrito/agregar/{{this._id}}"method="post">
    <button type="submit">Agregar a carrito</button>
</form></td></tr>
                {{/each}}
            </table>
        </div>
    {{else}}  
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}}
</div>